<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>meteo</title>
    <LINK href="asset/meteo.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>meteo | Dashboard</h1>

<table border="1">
	<tr><td><b>Station</b></td><td><b>Description</b></td><td><b>Location</b></td><td><b>Temperature</b></td><td><b>Humidity</b></td><td><b>Pressure</b></td><td>Overview</td></tr>
{{range .}}
    <tr><td><a href="dashboard/{{.Id}}">{{.Name}}</a></td><td>{{.Description}}</td><td>{{.Location}}</td><td>{{.T}} °C</td><td>{{.Hum}} rel. humidity</td><td>{{.P}} hPa</td><td><a href="dashboard/{{.Id}}?timespan=day">[Day]</a> <a href="dashboard/{{.Id}}?timespan=week">[Week]</a> <a href="dashboard/{{.Id}}?timespan=month">[Month]</a> <a href="dashboard/{{.Id}}?timespan=year">[Year]</a></td></tr>
{{end}}
</table>
