<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>meteo</title>
    <LINK href="/asset/meteo.css" rel="stylesheet" type="text/css" />
</head>

<h1>meteo | Dashboard</h1>

<table border="1">
{{range .}}
    <tr><td><a href="/dashboard/{{.Id}}">{{.Name}}</td><td>{{.Description}}</td><td>{{.T}} degree C</td><td>{{.Hum}} rel. humidity</td><td>{{.P}} hPa</td><td><a href="/dashboard/{{.Id}}/day">[day]</td></tr>
{{end}}
</table>
