<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>meteo</title>
    <LINK href="asset/meteo.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="refresh" content="5" />
</head>
<body>
<h1>meteo | Lightnings</h1>

<p><a href="dashboard">[Dashboard]</a> <a href="lightnings">[Lightnings]</a> <a href="ombrometers">[Ombrometers]</a> <a href="api.html">[Request API]</a></p>

<p>Displays the last recorded lightnings. Page is automatically refreshed every 5 seconds</p>

{{if not .}}
<p>No lightnings detected so far</p>
{{else}}
<table border="1">
	<tr><td><b>Station</b></td><td><b>Time</b></td><td><b>Timestamp</b></td><td><b>Distance</b></td></tr>
{{range .}}
    <tr><td>{{if not .StationName}} Station {{.Station}}{{else}}<a href="dashboard/{{.Station}}">{{.StationName}}</a>{{end}}</td><td>{{.Ago}}</td><td>{{.DateTime}}</td><td>{{.Distance}} km</td></tr>
{{end}}
</table>
{{end}}
</html>
