[Unit]
Description=Meteo Daemon
After=network.target

[Service]
Type=simple
User=meteo
WorkingDirectory=/home/meteo/meteo
ExecStart=/home/meteo/meteo/meteo
RestartSec=10
Restart=always
StandardOutput=null
StandardError=file:/var/log/meteo.err

[Install]
WantedBy=multi-user.target
