<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>meteo</title>
    <LINK href="../asset/meteo.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>meteo | Ombrometer Station</h1>

<p><a href="../dashboard">[Dashboard]</a> <a href="../lightnings">[Lightnings]</a> <a href="../ombrometers">[Ombrometers]</a> <a href="../api.html">[Request API]</a> | <a href="{{.Ombrometer.Id}}/edit">[Edit ombrometer]</a></p>

{{if not .Data}}
<p>No recorded rain measurements so far</p>
{{else}}
<table border="1">
	<tr><td><b>Timestamp</b></td><td><b>Acount</b></td></tr>
{{range .Data}}
    <tr><td>{{.Timestamp}}</td><td>{{.Millimeters}} mm</td></tr>
{{end}}
</table>
{{end}}

</html>
