<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>meteo</title>
    <LINK href="asset/meteo.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>meteo | Ombrometers</h1>

<p><a href="../dashboard">[Dashboard]</a> <a href="../lightnings">[Lightnings]</a> <a href="../ombrometers">[Ombrometers]</a> <a href="../api.html">[Request API]</a></p>

<FORM action="create" method="POST">

<table border="1">
    <tr><td>Name</td><td><input type="text" name="name" value=""></td></tr>
    <tr><td>Description</td><td><input type="text" name="desc" value=""></td></tr>
    <tr><td>Location</td><td><input type="text" name="location" value=""></td></tr>
</table>

<p><input type="submit" value="Create"></p>


</FORM>

</html>
